* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

:root {
    --screen-width: 95vw;
    --yellowish-green: #cae962;
}

body {
    background-color: #202125;
    color: white;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #6e6f74;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(255, 255, 255, .4);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(0, 0, 0, .2);
}

.container {
    display: flex;
    max-width: 1800px;
}

.sidebar {
    width: 14vw;
    background-color: #2a2c31;
    padding: 15px 10px 0 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 999999;
}

.remove-sidebar {
    transform: translate(-15vw, 0);
}

.close-menu-btn {
    border-radius: 18px;
    background-color: #5a6268;
    color: white;
    padding: 7px 6px;
    border: none;
    cursor: pointer;
    margin: 10px 0 0 12px;
    letter-spacing: 1px;
    width: 115px;
    display: flex;
    justify-content: space-evenly;
}

.donate-btn {
    border-radius: 20px;
    background-color: #00ffb7;
    color: black;
    width: 220px;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 15px 0 2px 15px;
}

.community-btn {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #222327;
    color: white;
    width: 220px;
    border: none;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
    margin: 2px 0 15px 15px;
}

.community-btn img {
    margin: 0 8px;
}

.sidebar> :nth-child(1):hover {
    background-color: #6e6f74 !important;
}

.sidebar>ul>li {
    list-style-type: none;
    font-weight: 900;
    width: 90%;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
    cursor: pointer;
}

.sidebar>ul>li:hover {
    color: var(--yellowish-green);
}

.sidebar>ul>li:nth-child(11) {
    border-bottom: none;
    padding-bottom: 12px;
}

ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

ul li {
    padding: 15px 15px;
}

ul ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul ol li {
    list-style-type: none;
    font-size: 0.85rem;
    padding: 10px;
}

.main {
    width: var(--screen-width);
    margin: 5px 40px;
    position: relative;
    height: 500vh;
}

.icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.icon-sm {
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.icon-xsm {
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.header {
    position: absolute;
    z-index: 999;
}

.header header nav {
    /* background-color: #2a2c31; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
    padding-top: 8px;
    position: relative;
    width: var(--screen-width);
}

.header-btn {
    margin: 0 0 0 12px;
}

.logo {
    height: 40px;
    width: 130px;
    margin: 0 0 0 30px;
}

.searchbar {
    display: flex;
    background-color: white;
    width: 280px;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0 0 20px;
}



.searchbar input {
    border: none;
    outline: none;
}

.searchbar input:hover {
    border: none;
}

.right-side-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-btn {
    height: 23px;
    width: 42px;
    background-color: #4a4b51;
    border-radius: 2px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 12px;
    cursor: pointer;
}

.social-icons {
    display: flex;
    width: 250px;
    margin: 0 15px;
}

.social-icons p {
    margin: 0 20px;
    padding: 5px;
    color: white;
}



.social-icons img {
    width: 35px;
    height: 35px;
    margin: 0 2px;
}

.header-options {
    display: flex;
}

.header-option {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
}

.language-icon {
    display: flex;
    font-size: 0.8rem;
    margin-bottom: 7px;
}

.jpn {
    background-color: #4d5059;
    padding: 2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 25px;
    text-align: center;
}

.eng {
    background-color: var(--yellowish-green);
    color: black;
    padding: 2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 25px;
    text-align: center;
}

.header-option p {
    font-size: 0.8rem;
    margin-top: 5px;
}

.search-icon {
    position: absolute;
    right: 120px;
}

.login-btn {
    width: 75px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--yellowish-green);
    position: absolute;
    right: 15px;
    border: none;
    font-size: 0.9rem;
}

.slideshow-cont {
    width: var(--screen-width);
    top: -70px;
    z-index: 99;
    height: 550px;
    position: relative;
}

@media only screen and (max-width: 1280px) {
    .searchbar {
        display: none;
    }

    .social-icons {
        width: 235px;
    }

    .social-icons p {
        margin: 0 0 0 30px;
    }
}

.fade {
    height: 550px;
    box-shadow: 340px 250px 400px 0 #202125 inset, -210px -127px 250px 0 #202125 inset;
    animation-name: fade;
    animation-duration: 1s;
}

.first-slide {
    background-image: url('/images/slideshow/edens-zero-2nd-season.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%;
}

.second-slide {
    background-image: url('/images/slideshow/bleach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%;
}

.third-slide {
    background-image: url('/images/slideshow/drstone-new-world.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%;
    background-position-x: 40%;
}

.controls {
    position: absolute;
    right: 6%;
    background-color: #2a2b31;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

#left-arrow {
    bottom: 8%;
}

#right-arrow {
    bottom: 15%;
}

.mySlides {
    display: none
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: var(--yellowish-green);
}

/* Caption text */
.caption {
    max-width: 800px;
    position: absolute;
    bottom: 75px;
    left: 35px;
}

.caption .position {
    font-size: 1.5rem;
    color: var(--yellowish-green);
}

.caption .heading-name h1 {
    font-size: 4rem;
}

.anime-stream-type {
    display: flex;
    margin: 10px 0;
}

.tv,
.duration,
.date,
.quality,
.subbed-ep-no,
.dubbed-ep-no {
    margin: 0px 15px 0 0;
    border-radius: 5px;
    height: 20px;
    padding: 1px 4px;
}

.quality {
    background-color: var(--yellowish-green);
    width: 30px;
    color: #222327;
}

.subbed-ep-no {
    background-color: #b0e3af;
    width: 50px;
    color: black;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin: 0;
}

.dubbed-ep-no {
    background-color: #e3b5cd;
    width: 50px;
    color: black;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin: 0;
}

.caption .cap-description {
    font-size: 1rem;
    margin-bottom: 30px;
}

.cap-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cap-btns button {
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    letter-spacing: 1px;
}

.cap-btns .cap-btn1 {
    margin-right: 10px;
    width: 143px;
    background-color: var(--yellowish-green);
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cap-btns .cap-btn2 {
    width: 89px;
    background-color: #4a4b51;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cap-btn2 img {
    margin-left: 5px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .caption {
        font-size: 11px
    }
}

.ad-banner {
    width: var(--screen-width);
}

.ad-banner img {
    margin: auto;
    display: block;
}

.trending-section {
    position: relative;
    display: block;
    top: 35px;
    height: 550px;
    background: linear-gradient(0deg, #121315 0, rgba(18, 19, 21, 0) 99%);
}

.trending-showcase-section {
    width: 90vw;
    overflow-y: hidden;
    position: relative;
    top: 60px;
    transform: scroll(calc(var(--i, 0)/var(--n)*-100%));
    scroll-behavior: smooth;
}

.showcase-wrapper {
    display: flex;
    width: 150vw;
    overflow-y: hidden;
    overflow-x: scroll !important;
    transform: scroll(calc(var(--i, 0)/var(--n)*-100%));
    scroll-behavior: smooth;
}

.showcase-wrapper::-webkit-scrollbar {
    height: 5px;
    width: 150px;
    display: none;
}

.showcase-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

.showcase-wrapper::-webkit-scrollbar-thumb {
    background: #888;
}

.showcase-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.trending-showcase-section::-webkit-scrollbar {
    height: 5px;
    width: 150px;
    display: none;
}

.trending-showcase-section::-webkit-scrollbar-track {
    background: transparent;
}

.trending-showcase-section::-webkit-scrollbar-thumb {
    background: #888;
}

.trending-showcase-section::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.section-heading {
    color: var(--yellowish-green);
    font-size: 2rem;
}

.trending-img {
    height: 300px;
    width: 272px;
    position: relative;
    background-image: linear-gradient(180deg, #4a4b51 0, rgba(74, 75, 81, 0) 99%);
    margin-right: 20px;
}

.trending-img img {
    position: absolute;
    right: 0;
    height: 300px;
    width: 220px;
}

.trending-no-heading {
    color: var(--yellowish-green);
    font-size: 2rem;
    position: absolute;
    bottom: 2px;
    left: 10px;
}

.trending-anime-name {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    rotate: -90deg;
    left: -15px;
    bottom: 80px;
}

.trending-section-controls {
    position: absolute;
    top: 100px;
    right: 15px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
}

.left-arrow,
.right-arrow {
    height: 130px;
    width: 35px;
    background: #2a2b31;
    border-radius: 6px;
    padding: 57px 5px;
    cursor: pointer;
}

.left-arrow {
    background-image: url(/images/png/left-arrow-wh.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.right-arrow {
    background-image: url(/images/png/right-arrow-wh.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.left-arrow:hover {
    background-image: url(/images/svg/chevron-left-solid.svg);
    background-color: var(--yellowish-green);
    background-size: 75%;
    background-position-x: 50%;
}

.right-arrow:hover {
    background-image: url(/images/svg/chevron-right-solid.svg);
    background-color: var(--yellowish-green);
    background-size: 75%;
    background-position-x: 50%;
}

.trending-sec-share-block {
    position: absolute;
    bottom: 0;
    display: flex;
    width: var(--screen-width);
}

.share-gif {
    height: 100px;
    width: 100px;
}

.share-block-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0px 0 10px
}

.share-block-heading h5 {
    color: var(--yellowish-green);
    font-size: 1rem;
}

.share-btns {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
    align-items: center;
}

.share-btns div {
    display: flex;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.share-btns img {
    margin-right: 10px;
}

.facebook-btn {
    background-color: #1877F2;
}

.twitter-btn {
    background-color: rgb(29, 161, 242);
}

.reddit-btn {
    background-color: rgb(255, 87, 0);
}

.telegram-btn {
    background-color: rgb(0, 136, 204);
}


/* ***************************      Top Comments Section Started ****************************** */

/* Top section heading */
.discussion-section {
    position: relative;
    top: 85px;
}

.comment-section-heading {
    display: flex;
    justify-content: flex-end;
}

.comment-section-heading img {
    height: 400px;
    width: 400px;
    position: absolute;
    left: 0px;
}

.comment-section-heading .newest-comment {
    height: 30px;
    width: 150px;
    border-radius: 20px;
    border: 2px solid var(--yellowish-green);
    color: var(--yellowish-green);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: 15px;
}

.comment-section-heading .top-comment {
    margin-top: 20px;
    margin-right: 250px;
}

.show-comments-switch {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.show-comments-switch p {
    margin-right: 10px;
    margin-left: 750px;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #121315;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    inset: 0;
    background-color: var(--yellowish-green);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked+.slider {
    background: #909b6d;
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #909b6d;
}

.switch input:checked+.slider:before {
    transform: translateX(25px);
}

/* Top comments draggable slider */
.comments-carousel-section {
    width: 70vw;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 285px;
    position: absolute;
    right: 3vw;
    top: 90px;
}

.comments-carousel-section::-webkit-scrollbar {
    width: 100px;
    height: 5px;
    background-color: #202125;
}

.comments-carousel-section::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,.1);
    margin: 620px;
}

.comments-carousel-section::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.1);
}

.card {
    width: 250px;
    height: 250px;
    background-color: #121315;
    border: none;
    position: relative;
    margin: auto;
    font-family: inherit;
    border-radius: 12px;
}

.card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 1.3em;
}

.comments-avatar {
    display: inline-block;
    border-radius: 50%;
    margin-top: 18px;
    margin-left: 18px;
    height: 35px;
}

.comments-name-section {
    display: flex;
    position: absolute;
    top: 18px;
    left: 70px;
    color: white;
    flex-direction: column;
}

.comments-name-section h5 {
    font-size: 0.8rem;
    margin: 0;
    color: #fff;
}

.comments-name-section p {
    font-size: 0.8rem;
    margin: 0;
    color: #888;
}

.top-comments {
    font-size: 1rem;
    color: white;
    position: absolute;
    top: 70px;
    left: 18px;
}

.comment-anime-name {
    position: absolute;
    bottom: 0px;
    left: 18px;
    display: flex;
    align-items: center;
}

.comment-anime-name p {
    color: #cae962;
    font-size: 0.8rem;
    margin-left: 8px;
}

.wrapper {
    display: flex;
    width: 110vw;
    position: relative;
}

.comments-carousel {
    width: 100vw;
}

.wrapper .comments-carousel {
    font-size: 0px;
    cursor: pointer;
    white-space: nowrap;
    scroll-behavior: smooth;
    display: flex;
    width: auto;
    gap: 25px;
}

.comments-carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}